*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.p-5{
    padding: 15px;
}
.p-2{
    padding: 10px;
}
.btn{
    border-radius: 20px ;
    margin: -45px;
    z-index: 3;
}
.fs{
    font-size: 15px ;
    font-weight: 700;
}

.mt{
    margin-top: 10% !important;
}

.container{
    /* border: 1px solid green; */
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
}

.main-slider{
    /* border: 1px solid red; */
    overflow-x: hidden;
    width: 100%;
}
.slider{
    /* border: 1px solid blue; */
    display: flex;
    width: 4000px;
}

.slices{
    /* border: 1px solid brown; */
    width: 100%;
}
.slices img{
    width: 100%;
}

.number-slider{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 35px;
    
}
.c{
    color: rgb(241, 163, 19);
}
.number-slider button{
    padding: 5px;
    border-radius: 20px;
    border: 2px solid rgb(241, 163, 19);
}